[Unit]
Description=WiFi Config Web App
After=network.target

[Service]
ExecStart=/opt/wifi-config/.venv/bin/python /opt/wifi-config/app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target

